body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: Black;
  }
button {
  margin: 0;
  padding: 11px;
  width: 250px;
  height: 108px;
  font-size: 28px;
  border-radius: 10px;
  color: black;
  background: #39ff14;
  }
button:hover {
  color: green;
  box-shadow: 0 0 60px #39ff14,0 0 70px blue,0 0 100px pink,0 0 120px #f32179;
  }
h3 {
  color: green;
  box-shadow: 0 0 100px #39ff14,0 0 50px green;
  }
  glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}
